<h3>Create Student</h3>
<div class="container col-6">
  <form [formGroup]="updateForm" (ngSubmit)="updateStudent(id)">
    <div class="form-group">
      <label for="exampleInputEmail1">Id</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="id">
    </div>
    <div class="form-group">
      <label for="exampleInputName">Name</label>
      <input type="email" class="form-control" id="exampleInputName" aria-describedby="emailHelp" formControlName="name">
    </div>
    <div class="form-group">
      <label for="exampleInputImage">Image</label>
      <input type="email" class="form-control" id="exampleInputImage" aria-describedby="emailHelp" formControlName="image">
    </div>
    <div class="form-group">
      <label for="exampleInputMark">Mark</label>
      <input type="email" class="form-control" id="exampleInputMark" aria-describedby="emailHelp" formControlName="mark">
    </div>
    <div class="form-group">
      <label for="exampleInputDate">Mark</label>
      <input type="date" class="form-control" id="exampleInputDate" aria-describedby="emailHelp" formControlName="date">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

