<div>
  <h2 style="text-align: center">
    Create Service
  </h2>
</div>
<form>

  <div class="container">

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Service</label>
        <input type="email" class="form-control" id="inputEmail4">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Service</label>
        <input type="password" class="form-control" id="inputPassword4">
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddress">Service</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="">
    </div>
    <div class="form-group">
      <label for="inputAddress2">Service </label>
      <input type="text" class="form-control" id="inputAddress2" placeholder="">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">City</label>
        <input type="text" class="form-control" id="inputCity">
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">Service</label>
        <select id="inputState" class="form-control">
          <option selected>Choose...</option>
          <option>...</option>
        </select>
      </div>

    </div>

  </div>
</form>
