<div>
  <h2 style="text-align: center">
    Create Service
  </h2>
</div>
<form [formGroup]="serviceForm" (ngSubmit)="createService()">

  <div class="container">

    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Id</label>
        <input type="text" class="form-control"  formControlName="facilityId">
      </div>
      <div class="form-group col-md-6">
        <label >Name</label>
        <input type="text" class="form-control"  formControlName="facilityName">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label>Area</label>
        <input type="text" class="form-control" formControlName="area">
      </div>
      <div class="form-group col-md-4">
        <label >Cost</label>
        <input type="text" class="form-control"  formControlName="cost">
      </div>
      <div class="form-group col-md-4">
        <label >Max People</label>
        <input type="text" class="form-control"  formControlName="maxPeople">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-4">
        <label>standardRoom</label>
        <input type="text" class="form-control" formControlName="standardRoom">
      </div>
      <div class="form-group col-md-4">
        <label >description</label>
        <input type="text" class="form-control"  formControlName="description">
      </div>
      <div class="form-group col-md-4">
        <label >numberOfFloors</label>
        <input type="number" class="form-control"  formControlName="numberOfFloors">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label >rentType</label>
        <select  class="form-control">
          <option selected>Choose...</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>

        </select>
      </div>

      <div class="form-group col-md-4">
        <label >facilityType</label>
        <select class="form-control">
          <option selected>Choose...</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
        </select>
      </div>

      <div class="form-group col-md-4">
        <label >Pool area</label>
        <input type="number" class="form-control"  formControlName="poolArea">
      </div>


    </div>

  </div>

  <button type="submit" class="btn btn-primary text-center">Submit</button>
</form>
