<h1>Tạo sản phẩm mới</h1>
<form [formGroup]="productForm" (ngSubmit)="submit()">
  <table>
    <tr>
      <td>Mã sản phẩm:</td>
      <td><input type="number" formControlName="id"></td>
      <div *ngIf="!productForm.controls.id?.valid&&(productForm.controls.id?.dirty||productForm.controls.id?.touched)">
        <p class="text-danger">khong duoc de trong</p>
      </div>
    </tr>
    <tr>
      <td>Tên sản phẩm:</td>
      <td><input type="text" formControlName="nameProduct"></td>
      <div *ngIf="!productForm.controls.nameProduct?.valid&&(productForm.controls.nameProduct?.dirty||productForm.controls.nameProduct?.touched)">
        <div>
          <p  [hidden]="!productForm.errors.required"> kh dc de trong</p>

        </div>
        <div [hidden]="!productForm.errors.maxLength">
          <p> qua ngan</p>

        </div>
      </div>
    </tr>
    <tr>
      <td>Giá sản phẩm</td>
      <td><input type="text" formControlName="price"></td>
      <div *ngIf="!productForm.controls.price?.valid&&(productForm.controls.price?.dirty||productForm.controls.price?.touched)"
           style="display: flex;flex-wrap: wrap">
        <div [hidden]="!productForm.errors.required">
          <p> kh dc de trong va  </p>

        </div>
        <div [hidden]="!productForm.errors.minLength">
          <p class=""> &nbsp; ky tu nho hon 10</p>

        </div>
      </div>
    </tr>
    <tr>
      <td>Mô tả về sản phẩm</td>
      <td><input type="text" formControlName="description"></td>
      <div *ngIf="!productForm.controls.description?.valid&&(productForm.controls.description?.dirty||productForm.controls.description?.touched)">
        <div [hidden]="!productForm.errors.required">
          <p> kh dc de trong</p>

        </div>
        <div [hidden]="!productForm.errors.pattern">
          <p> sai dinh dang</p>

        </div>
      </div>
    </tr>
    <tr>
    <tr>
      <td>Danh mục sản phẩm</td>
      <td><select formControlName="category">
        <option *ngFor="let c of category" [ngValue]="c" >{{c.nameCate}}</option>
      </select></td>
      <div *ngIf="!productForm.controls.category?.valid&&(productForm.controls.category?.dirty||productForm.controls.category?.touched)">
        <p class="text-danger">khong duoc de trong</p>
      </div>
    </tr>
    <td></td>
    <td><button>Tạo mới</button></td>

  </table>
</form>

